{% extends "base.html" %}

{% block title %}Add Edit Subpay{% endblock %}

{% block nav_item_3 %}{% endblock %}

{% block heading %}Add Edit Sub Pay Head{% endblock %}

{% block content %}

<div class="flexborder">
    <div class="flextitle">
        Add Edit Subpay Head
    </div>

<form class="row g-3">
    <div class="col-sm-3">
        <label for="inputPayhead" class="form-label">Payhead:</label>
        <div>
        <select class="form-select" aria-label="Please Select" required>
            <option value = "0" selected disabled>Please Select</option>
            <option value = "1"></option>
            <option value = "2"></option>
            <option value = "3"></option>
            <option value = "4"> </option>
            <option value = "5"></option>
          </select>
        </div>
    </div>

    <div class="col-sm-3">
      <label for="inputSPayFN" class="form-label">Sub pay head Full Name:</label>
      <input type="text" class="form-control" id="inputSPayFN" required >
      </div>   
</form>
<form class="row g-3">
  <div class="col-sm-3">
    <label for="inputSPaySN" class="form-label">Sub pay head Short Name:</label>
    <input type="text" class="form-control" id="inputSPaySN" required>
    </div>
    <div class="col-sm-3">
      <label for="inputBookE" class="form-label">Book Entry : </label>
        <div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="InputBookEntry">
                <label class="form-check-label" for="InputBookEntry">
                  If Checked 'Yes'
                </label>
          </div>



</form>

</div>
</div>
</div>
<div class="center" >
  <div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-primary">Submit</button >
    <button type="button" class="btn btn-warning">Cancel</button>
    <button type="button" class="btn btn-danger ">Report</button>
  </div>


{% endblock %}


{% block int_css %}
<style>
body{
  overflow-x: hidden;
}


.flexborder{
border-width: 2px;
border-color: rgb(100, 210, 238);
border-style: solid;
margin-top: 15px;
margin-bottom: 30px;
margin-left: 10px;
margin-right: 10px;
margin-inline-end: 10px;

}

/* To control size of the columns */

.col-sm-3{
  padding: 10px;
  margin-left: 1vw;
  width: 40vw;
}

/* controlling size of the input field */

.form-control {
  width: 40vw !important;
}

.flextitle{
  text-align: left;
  font-style: normal;
  background-color: rgb(100, 210, 238);
  color:#0e556e;
  margin-bottom: 5px;
     
}

form.row.g-3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.center{
display: flex;
justify-content: center;
align-items: center;
height: 50px;

}
</style>
{% endblock %}