{% extends "base.html" %}

{% block title %}Appointment {% endblock %}

{% block nav_item_3 %}{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

<div class="flexborder">
    <div class="flextitle">
        <h5>Add/Edit Appointment</h5>
    </div>
    <form class="row g-3">
        <div class="col-sm-3">
            <label class="form-label">Appointment Type :</label>
            <input type="text" class="form-control" id="inputAppointType" required >
            </div>
    </form>
</div>
<div class="center" >
    <div class="d-grid gap-2 d-md-block">
      <button type="submit" class="btn btn-primary">Submit</button >
      <button type="button" class="btn btn-warning">Cancel</button>
      <button type="button" class="btn btn-danger ">Report</button>
    </div>

{% endblock %}


{% block int_css %}
<style>
  body{
    overflow-x: hidden;
  }
  
  
  .flexborder{
    width:fit-content;
    margin: auto !important;
    padding: 2px;
    border-width: 2px;
    border-color: rgb(100, 210, 238);
    border-style: solid;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-inline-end: 10px;
  
  }
  
  /* To control size of the columns */
  
  .col-sm-3{
    padding: 20px;
    width: 30vw;
  }
  
  /* controlling size of the input field */
  
  .flextitle{
    text-align: center;
    font-style: normal;
    background-color: rgb(100, 210, 238);
    color:#0e556e;
    padding: 1px;
    border-radius: 10px;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  form.row.g-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
</style>
{% endblock %}           