{% extends "base.html" %}

{% block title %}Appointment {% endblock %}

{% block nav_item_3 %}{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

<div class="flex-container">
  <div class="block">
    <div class="flexborder">
    <div class="flextitle">
        <h5>Appointment</h5>
    </div>
    <form method="post" action="{% url 'appointment' %}" >
      {% csrf_token %}
      <div class="row g-3">
        {% if form.errors %}
                <ul class="errorlist">
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors.0 }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <div class="col-sm-3">
          <label for={{form.appointment.id_for_label}} class="form-label">Appointment :</label>
          {{form.appointment}} 
            </div>
            </div>
    
</div>
<div class="center" >
    <div class="d-grid gap-2 d-md-block">
      <button type="submit" class="btn btn-primary">Submit</button >
    </div>
</div>
</form>
  </div>
  {% comment %} <div class="table-container_lg">
    <h4 class="flextitle">Select Pay Head</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sr. No.</th>
        <th scope="col">Action</th>
        <th scope="col">Pay Short</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td >1</td>
        <td><input type="checkbox"></td>
        <td>DA</td>
      </tr>
      <tr>
        <td>2</td>
        <td><input type="checkbox"></td>
        <td>HRA</td>
      </tr>
      <tr>
        <td>3</td>
        <td><input type="checkbox"></td>
        <td>CLA</td>
      </tr>
      <tr>
        <td>4</td>
        <td><input type="checkbox"></td>
        <td>7th Pay Arre</td>
      </tr>
      <tr>
        <td>5</td>
        <td><input type="checkbox"></td>
        <td>TRA</td>
      </tr>
      <tr>
        <td>6</td>
        <td><input type="checkbox"></td>
        <td>Sp.Allowance</td>
      </tr>
      <tr>
        <td>7</td>
        <td><input type="checkbox"></td>
        <td>P.Pay</td>
      </tr>
      <tr>
        <td>8</td>
        <td><input type="checkbox"></td>
        <td>DA Arrears</td>
      </tr>
      <tr>
        <td>9</td>
        <td><input type="checkbox"></td>
        <td>Spl.Arrears</td>
      </tr>
      <tr>
        <td>10</td>
        <td><input type="checkbox"></td>
        <td>REFUND OTH</td>
      </tr>
      <tr>
        <td>11</td>
        <td><input type="checkbox"></td>
        <td>ADD.REM</td>
      </tr>
    </tbody>
  </table> 
  </div> {% endcomment %}

  <div class="table-container">
  <h4 class="flextitle">Appointment</h4>
  {% if appointment_data %} 
  <table class="table table-hover">
    
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">ID</th>
        <th scope="col">Appointment</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for i in appointment_data %}
      <tr>
        <td >Edit</td>
        <td>{{i.id}}</td>
        <td>{{i.appointment}}</td>
      {% endfor %}                 
      </tr> 
      
    </tbody>
  </table>
  {% else %} 
  No Data Found
{% endif %} 
  </div>
</div>  

{% endblock %}


{% block int_css %}
<style>
  body{
    overflow-x: hidden;
  }
  
  
  .flexborder{
    width:fit-content;
    margin: auto !important;
    padding: 2px;
    border-width: 2px;
    border-color: rgb(100, 210, 238);
    border-style: solid;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-inline-end: 10px;
  
  }
  
  /* To control size of the columns */
  
  .col-sm-3{
    padding: 20px;
    width: 30vw;
  }
  
  /* controlling size of the input field */
  
  .flextitle{
    text-align: center;
    font-style: normal;
    background-color: rgb(100, 210, 238);
    color:#0e556e;
    padding: 1px;
    border-radius: 10px;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  div.row.g-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; /* Align items at the top */
    }
    
    .block {
        flex: 0 0 40%; /* Adjust width of the rule management block */
        /* Additional styling for the rule management block */
    }

    .table-container {
       
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
        width: 65%;
        

    }
    .table-container_lg {
        width: 85%;
        margin-bottom: 20px;
        overflow-y: scroll;
        height: 400px;
        
        
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .flex-container {
            flex-direction: column; /* Stack content vertically on smaller screens */
        }

        .block
         {
          flex: 0 0 55%; /* Adjust width of the table */
          margin-left: auto; /* Ensure full width on smaller screens */
          margin-bottom: 20px; /* Add space between sections */
        }
    }

    .table {
        border: 1px solid #000; /* Add a solid black border around the table */
        border-collapse: collapse; /* Collapse borders into a single border */
        
    }
    .table th {
        background-color:rgb(100, 210, 238); /* Change background color */
        color: #0e556e; /* Change text color */
       
    }
  
</style>
{% endblock %}           