{% extends "base.html" %}
{% block nav_item_3 %}{% endblock %}
{% block content %}

<div class="flex-container">

  <div class="block">    

    <div class="flexborder">
      <div class="flextitle">
          <h5>Add Deduction Rule</h5>
      </div>
      <form method="post" action="">
        {% csrf_token %}
        <div class="row g-3">
          {% if form.errors %}
              <ul class="errorlist">
                  {% for field, errors in form.errors.items %}
                      <li>{{ field }}: {{ errors.0 }}</li>
                  {% endfor %}
                  {% endif %}
          <div class="col-sm-3">
            <label for="{{ form.rule.id_for_label }}">Rule :</label>
            <select id="{{ form.rule.id_for_label }}" name="{{ form.rule.name }}" class="form-control" >
               {% for i in rule_data %}
                   <option value="{{ i.pay_rule }}">{{ i.pay_rule }}</option>
               {% endfor %}
           </select> 
              </div>
              <div class="col-sm-3">
                <label for="{{ form.head_deduction.id_for_label }}">Pay Head:</label>
                 <select id="{{ form.head_deduction.id_for_label }}" name="{{ form.head_deduction.name }}" class="form-control" >
                  {% for i in payhead_d %}
                      <option value="{{ i.pay_head }}">{{ i.pay_head }}</option>
                  {% endfor %}</select> 
            </div> 
         </div>
     
  
          <div class="row g-3">
           <div class="col-sm-3">
            <label for="{{form.per.id_for_label}}" class="form-label">Percentage:</label>
                             {{form.per}} 
              </div>
            
            <div class="col-sm-3">
              <label for="{{form.cal.id_for_label}}" class="form-label">(basic)</label>
                                  {{form.cal}} 
          </div>
          <div class="col-sm-3">
            <label for="{{form.eff_date.id_for_label}}"class="form-label">Effective from Date:</label>
            {{form.eff_date}}
        </div>
            </div>
        </div>
        <div class="center" >
            <div class="d-grid gap-2 d-md-block">
              <button type="submit" class="btn btn-outline-primary">Submit</button >

            </div>
        </div>
      </form>
    </div>
    <div class="table-container">
      <h4 class="flextitle">Deduction Rules</h4>
      {% if  deduction_rule_data %} 
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Pay Rule</th>
          <th scope="col">Payhead</th>
          <th scope="col">Percentage</th>
          <th scope="col">Basic</th>
          <th scope="col">Effective From</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for i in  deduction_rule_data %}
        <tr>
          <td scope="col"><button class="btn btn-outline-dark edit-btn">Edit</button></td>
          <td scope="col">
            <span class="editable-field" data-field="rule" data-id="{{ i.pk }}">{{i.rule}}</span>
            <input type="text" class="editable-field" data-field="rule" data-id="{{ i.pk }}" value="{{ i.rule}}" style="display: none;">
          </td>
          <td scope="col">
            <span class="editable-field" data-field="head_deduction" data-id="{{ i.pk }}">{{i.head_deduction}}</span>
            <input type="text" class="editable-field" data-field="head_deduction" data-id="{{ i.pk }}" value="{{ i.head_deduction }}" style="display: none;">
          </td>
          <td scope="col">
            <span class="editable-field" data-field="per" data-id="{{ i.pk }}">{{i.per}}</span>
            <input type="text" class="editable-field" data-field="per" data-id="{{ i.pk }}" value="{{ i.per}}" style="display: none;">
          </td>
          <td scope="col">
            <span class="editable-field" data-field="cal" data-id="{{ i.pk }}">{{i.cal}}</span>
            <input type="text" class="editable-field" data-field="cal" data-id="{{ i.pk }}" value="{{ i.cal}}" style="display: none;">
          </td>
          <td scope="col">
            <span class="editable-field" data-field="eff_date" data-id="{{ i.pk }}">{{i.eff_date}}</span>
            <input type="text" class="editable-field" data-field="eff_date" data-id="{{ i.pk }}" value="{{ i.eff_date}}" style="display: none;">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table> 
    </div>
    {% else %} 
    No Data Found
    {% endif %} 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.edit-btn').on('click', function() {
            var $row = $(this).closest('tr');
            $row.find('.editable-field').toggle();
           
        });

        $('.editable-field').on('blur', function() {
            var $input = $(this);
            var field = $input.data('field');
            var id = $input.data('id');
            var value = $input.val();

            // Send AJAX request to update the value in the backend
            $.ajax({
                method: 'POST',
               url: '/edit_btn/' + id + '/',
                data: {
                    field: field,
                    value: value,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        $input.hide();
                        $input.siblings('.editable-field').text(value).show();
                    } else {
                        alert('Failed to update ' + field);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
  </div>  
  
{% endblock %}

{% block int_css %}

<style>
  body{
    overflow-x: hidden;
  }
  
  
  .flexborder{
    width: 500px;;
    margin: auto !important;
    padding: 5px;
    border-width: 2px;
    border-radius:10px;
    margin-top: 4vh;
    margin-bottom: 30px;
    margin-left:5vw;
    margin-right:5vw;
    
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
  
  /* To control size of the columns */
  
  .col-sm-3{
    padding: 10px;
    width:15vw;
  }
  
  /* controlling size of the input field */
  
 

  div.row.g-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
.flex-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; /* Align items at the top */
        margin-top: 2vw;
        margin-left: 10px;
    }

  
</style>
{% endblock %}
