{% extends "base.html" %}

{% block title %}Designation nature{% endblock %}

{% block nav_item_3 %}{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

<div class="flex-container">
  <div class="block">
    <div class="flexborder">
    <div class="flextitle">
        <h5>Designation Nature Management</h5>
    </div>
    <form method="post" action="{% url 'des_nature' %}" > 
        {% csrf_token %}
        <div class="row g-3">
          {% if form.errors %}
                  <ul class="errorlist">
                      {% for field, errors in form.errors.items %}
                          <li>{{ field }}: {{ errors.0 }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          </ul>
          <div class="col-sm-3">
              <label for={{form.des_nature.id_for_label}} class="form-label">Designation :</label>
              {{form.des_nature}}  
              </div>
     </div>
    
</div>
<div class="center" >
    <div class="d-grid gap-2 d-md-block">
      <button type="submit" class="btn btn-outline-primary">Submit</button >
    </div>
</div>
</form>
  </div>

  
 
  <div class="table-container">
    <h4 class="flextitle">Designation Nature List</h4>
    {% if des_nature_data %} 
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">ID</th>
                <th scope="col">Designation Nature</th> 
            </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for i in des_nature_data %}
            <tr>
              <td ><button class="btn btn-outline-dark edit-btn">Edit</button></td>
              <td>{{forloop.counter}}</td>
              <td><span class="editable-field" data-field="des_nature" data-id="{{ i.pk }}" >{{i.des_nature}}</span>
                <input type="text" class="editable-field" data-field="des_nature" data-id="{{ i.pk }}" value="{{ i.des_nature}}" style="display: none;"></td>
            </tr>
      {% endfor %}
      
      
      
    </tbody>
  </table> 
  {% else %} 
  No Data Found
{% endif %} 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.edit-btn').on('click', function() {
            var $row = $(this).closest('tr');
            $row.find('.editable-field').toggle();
           
        });

        $('.editable-field').on('blur', function() {
            var $input = $(this);
            var field = $input.data('field');
            var id = $input.data('id');
            var value = $input.val();

            // Send AJAX request to update the value in the backend
            $.ajax({
                method: 'POST',
               url: '/edit_btn/' + id + '/',
                data: {
                    field: field,
                    value: value,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        $input.hide();
                        $input.siblings('.editable-field').text(value).show();
                    } else {
                        alert('Failed to update ' + field);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
  </div>
</div>  

{% endblock %}


{% block int_css %}
<style>
  body{
    overflow-x: hidden;
  }
  
 
  .col-sm-3{
    padding: 20px;
    width: 30vw;
  }
  
  /* controlling size of the input field */
 
  div.row.g-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

</style>
{% endblock %}               