{% extends "base.html" %}

{% block title %}Designature{% endblock %}

{% block nav_item_3 %}{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

<div class="flex-container">
  <div class="block">
    <div class="flexborder">
    <div class="flextitle">  
        <h5>Designation Management</h5>
    </div>
    <form method="post" action="{% url 'designation' %}"> 
    {% csrf_token %}
      <div class="row g-3">
        {% if form.errors %}
                <ul class="errorlist">
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors.0 }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </ul>
        <div class="col-sm-3">
            <label for={{form.designation.id_for_label}} class="form-label">Designation :</label>
            {{form.designation}}  
            </div>
   </div>
    
</div>
<div class="center" >
    <div class="d-grid gap-2 d-md-block">
      <button type="submit" class="btn btn-primary">Submit</button >
    </div>
</div>
</form>
  </div>
 
  <div class="table-container">
    <h4 class="flextitle">Designation List</h4>
    {% if designation_data %} 
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">ID</th>
                    <th scope="col">Designation</th> 
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for i in designation_data %}
                        <tr>
                            <td >Edit</td>
                            <td>{{i.id}}</td>
                            <td>{{i.designation}}</td>
                        </tr>
                {% endfor %}
                
                
                </tbody>
            </table> 
    {% else %} 
            No Data Found
     {% endif %} 
  </div>
</div>  

{% endblock %}


{% block int_css %}
<style>
  body{
    overflow-x: hidden;
  }
  
  
  .flexborder{
    width: 500px;;
    margin: auto !important;
    padding: 5px;
    border-width: 2px;
    margin-top: 4vh;
    margin-bottom: 30px;
    margin-left:5vw;
    margin-right:5vw;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
  
  /* To control size of the columns */
  
  .col-sm-3{
    padding: 20px;
    width: 30vw;
  }
  
  /* controlling size of the input field */
  
  .flextitle{
    text-align: center;
    font-style: normal;
    background-color: rgb(71, 93, 135);
    color:#ebf6f9;
    padding: 1px;
    
    
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  div.row.g-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; /* Align items at the top */
    }
    .block {
        flex: 0 0 40%; /* Adjust width of the rule management block */
        /* Additional styling for the rule management block */
    }

    .table-container {
      flex: 0 0 55%; /* Adjust width of the table */
        margin-right: 20px;
        margin-bottom: 20px;
        overflow-y: scroll;
        height: 400px;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .flex-container {
            flex-direction: column; /* Stack content vertically on smaller screens */
        }

        .block
         {
          flex: 0 0 55%; /* Adjust width of the table */
          margin-left: auto; /* Ensure full width on smaller screens */
          margin-bottom: 20px; /* Add space between sections */
        }
    }

    .table {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* Add a solid black border around the table */
        border-collapse: collapse; /* Collapse borders into a single border */
    }
    .table th {
         /* Change background color */
        color: #0e556e; /* Change text color */
       
    }
  
</style>
{% endblock %}               