{% extends "base.html" %}

{% block title %}Earning and Deduction Rules{% endblock %}

{% block nav_item_3 %}{% endblock %}

{% block heading %}Earning and Deduction Rules{% endblock %}

{% block content %}

    <div class="form">
        <form>
            <div class="col">
                <div class="col_1">       
                    <div class="select">
                        <label class="form-label">Rule :</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>R1</option>
                            <option value="1">R2</option>
                            <option value="2">R3</option>
                            <option value="3">R4</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">To :</label>
                        <input type="text" class="form-control" id="to">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Percentage</label>
                        <input type="text" class="form-control" id="percentage">
                    </div>
                </div>
                <div class="col_2">
                    <div class="select">
                        <label class="form-label">Pay Head :</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Dearness Allowance</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div> 
                    <div class="mb-3">
                        <label class="form-label">To :</label>
                        <input type="text" class="form-control" id="to">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Percentage</label>
                        <input type="text" class="form-control" id="percentage">
                    </div>
                </div>
                <div class="col_3">
                    <div class="mb-3">
                        <label class="form-label">From :</label>
                        <input type="text" class="form-control" id="from">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Min Limit :</label>
                        <input type="text" class="form-control" id="minlimit">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Effective from Date :</label>
                        <input type="text" class="form-control" id="date">
                    </div>
                </div>
            </div>
            <br>
            <div class="buttons">
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                <button type="submit" class="btn btn-secondary" id="cancel">Cancel</button>
                <button type="submit" class="btn btn-primary" id="back">Back</button>
            </div>
            
          </form>
    </div>

{% endblock %}

{% block int_css %}
<style>

/* All the required internal css for divs that are causing conflicting issues
1. No center alignment when changing the value in the heading tag
2. Form height doesn't change from 500 pixels to anything so the css has been shifted here. */



.form {
  height: 450px;
  padding: 20px;
  margin-top: 4vh;
  margin-left:2vw;
  margin-right:2vw;
  border-radius:10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.select {
  height: 80px;
}

.form-control {
  width: 25vw !important; 
}

.col{
  display: flex;
  flex-direction:row ;
  justify-content: space-around;
  align-items:center;
}
.col_1 col_2 col_3{
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: space-around;
}

.buttons{
  height: auto;
  width: 15vw;
  margin:0 auto;
  /* Love this. It centers the div automatically */
  display: flex;
  flex-direction:row;
  justify-content: space-between;

}
</style>
{% endblock %}

