{% extends "base.html" %}
{% load static %}
{% block nav_item_3 %}{% endblock %}
{% block heading %}Employee Registration{% endblock %} 
{% block content %}

<form method="post" action="" >
  <div class="new_block">
    <div class="title">Personal Details</div>
      <div class="row d-flex">
        {% csrf_token %}
          <div>
            {% if form.errors %}
                <ul class="errorlist">
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors.0 }}</li>
                    {% endfor %}
                </ul>
            {% endif %}          
          </div>
        <div class="col-sm-2 px-3 py-2">
          {% comment %} auto-incremeted ID , Django's default model  ID has been used here  {% endcomment %}
          <label for="{{ form.id.id_for_label }}" class="form-label">ID No:</label> 
          <input id ="{{ form.id.id_for_label }}" name="{{ form.id.name }}" type="text"  class="form-control" value="{{ latest_id}}" readonly style="background-color: #f0f0f0; color: #333; cursor: not-allowed;" >               
        </div>
        <div class="col-sm-2 px-3 py-2">
          <label {{form.employee_type.id_for_label}} class="form-label">Employee Type:</label>
            {{form.employee_type}}
        </div>
        {% comment %} sequence number should get auto-incremented based on the emplpoyee type{% endcomment %}
        <div class="col-sm-2 px-3 py-2">
          <label {{form.sequence_no.id_for_label}} class="form-label"  >Sequence No:</label>
          <input id ="{{ form.sequence_no.id_for_label }}" name="{{ form.sequence_no.name }}" type="text"    class="form-control" readonly style="background-color: #f0f0f0; color: #333; cursor: not-allowed;" >         
        </div>
         {% comment %}  <div class="col-sm-1 px-0 py-2 ms-auto">
          <img id="frame" src="{% if form.instance.photo %}{{ form.instance.photo.url }}{% else %}{% static '../static/dummy.jpg' %}{% endif %}" class="img-fluid photo"><br>
        </div>
       <div class="col-sm-2 px-2 py-2">
            <label {{form.photo.id_for_label}} class="form-label">Upload Photo:</label>
            {% csrf_token %}
            {{form.photo}}
            <input type="file" id="imageInput" accept="image/*" style="display: none;">
            <button type="button" onclick="document.getElementById('imageInput').click();" class="btn btn-primary">Select Photo</button>
        </div>
        
        <script>
            document.getElementById('imageInput').addEventListener('change', function() {
                var frame = document.getElementById('frame');
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function(e) {
                    frame.src = e.target.result;
                };
                reader.readAsDataURL(file);
            });
        </script>
      </div> {% endcomment %}
      <div class="row d-flex">
        <div class="col-sm-2 px-3 py-2">
          <label {{form.title.id_for_label}} class="form-label">Title :</label>
          {{form.title}} 
        </div>
        <div class="col-sm-2 px-3 py-2">
          
         <label for={{form.first_name.id_for_label}} class="form-label">First Name :</label>
          {{form.first_name}}    
        </div>
        <div class="col-sm-2 px-3 py-2">
          <label for="{{ form.middle_name.id_for_label }}" class="form-label">Middle Name:</label>
          {{ form.middle_name }}
        </div>
        <div class="col-sm-2 px-3 py-2">
          <label for="{{form.last_name.id_for_label}}" class="form-label">Last Name :</label>
          {{form.last_name}}
        </div>
  
        {% comment %} <div class="col-sm-1 px-0 py-2 ms-auto">
          <img id="signFrame" src="{% if form.instance.sign %}{{ form.instance.sign.url }}{% else %}{% static '../static/dummy.jpg' %}{% endif %}" class="img-fluid sign"><br>
        </div>
        <div class="col-sm-2 px-2 py-2">
            <label {{form.sign.id_for_label}} class="form-label">Upload Sign:</label>
            {{form.sign}}
            <input type="file" id="signInput" accept="image/*" style="display: none;">
            <button type="button" onclick="document.getElementById('signInput').click();" class="btn btn-primary">Select Sign</button>
        </div>
        
        <script>
            document.getElementById('signInput').addEventListener('change', function() {
                var signFrame = document.getElementById('signFrame');
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function(e) {
                    signFrame.src = e.target.result;
                };
                reader.readAsDataURL(file);
            });
        </script> {% endcomment %}
     
      </div>
      <div class="row d-flex">
        <div class="col-sm-2 px-3 py-2">
          <label for="{{form.date_of_birth.id_for_label}}" class="form-label">Date of Birth</label>
          {{form.date_of_birth}}
        </div>
        <div class="col-sm-2 px-3 py-2">
          <label  for="{{form.gender.id_for_label}}" class="form-label">Gender</label>
          {{form.gender}}
        </div>
        <div class="col-sm-2 px-3 py-2">
          <label for="{{form.aadhar_id.id_for_label}}" class="form-label">Aadhar/Unique ID No. :</label>
          {{form.aadhar_id}} 
        </div>
        <div class="col-sm-2 px-3 py-2">
          <label for="{{form.pan_no.id_for_label}}" class="form-label">PAN Card No. :</label>
          {{form.pan_no}} 
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-sm-2 px-3 py-2">
          <label for="{{form.email.id_for_label}}" class="form-label">Email ID</label>
          {{form.email}} 
        </div>
        <div class="col-sm-2 px-3 py-2">
          <label  for="{{form.mobile_no.id_for_label}}" class="form-label">Mobile No.:</label>
          {{form.mobile_no}}  
        </div>
        <div class="col-sm-4 px-3 py-2">
          <label  for="{{form.address.id_for_label}}" class="form-label">Address :</label>
          {{form.address}}  
        </div>
      </div>
  </div>
  <div class="new_block">
    <div class="title">Service  Details</div>
    <div class="row d-flex">
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.date_of_joining.id_for_label}}"class="form-label">Date of Joining:</label>
        {{form.date_of_joining}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.date_of_relieving.id_for_label}}" class="form-label">Date of relieving :</label>
        {{form.date_of_relieving}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.date_of_increment.id_for_label}}"class="form-label">Date of Increment :</label>
        {{form.date_of_increment}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.date_of_retirement.id_for_label}}" class="form-label">Date of Retirement :</label>
        {{form.date_of_retirement}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.from_appointment_date.id_for_label}}" class="form-label">From Appointment Date :</label>
        {{form.from_appointment_date}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.to_appointment_date.id_for_label}}" class="form-label">To Appointment Date :</label>
        {{form.to_appointment_date}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        {% comment %} data from the model 'des_nature' is shown in the dropdown {% endcomment %}
        <label for="{{ form.des_nature.id_for_label }}">Designation Nature:</label>
         <select id="{{ form.des_nature.id_for_label }}" name="{{ form.des_nature.name }}" class="form-control" >
          <option>Please Select</option>
            {% for i in des_nature_data %}
                <option value="{{ i.des_nature }}">{{ i.des_nature }}</option>
            {% endfor %}
          </select>
      </div>
      <div class="col-sm-2 px-3 py-2">
          {% comment %} data from the model 'department' is shown in the dropdown {% endcomment %}
        <label for="{{ form.dep_name.id_for_label }}">Department :</label>
         <select id="{{ form.dep_name.id_for_label }}" name="{{ form.dep_name.name }}" class="form-control" >
          <option>Please Select</option>
            {% for i in department_data %}
                <option value="{{ i.dep_name }}">{{ i.dep_name }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="col-sm-2 px-3 py-2">
          {% comment %} data from the model 'designation' is shown in the dropdown {% endcomment %}
        <label for="{{ form.designation.id_for_label }}">Designation :</label>
         <select id="{{ form.designation.id_for_label }}" name="{{ form.designation.name }}" class="form-control" >
            <option>Please Select</option>
            {% for i in designation_data %}
                <option value="{{ i.designation }}">{{ i.designation }}</option>
            {% endfor %}  
          </select>
      </div>
      <div class="col-sm-2 px-3 py-2">
          {% comment %} data from the model 'appointment' is shown in the dropdown {% endcomment %}
        <label for="{{ form.appointment.id_for_label }}">Appointment :</label>
         <select id="{{ form.appointment.id_for_label }}" name="{{ form.appointment.name }}" class="form-control" >
          <option>Please Select</option>
            {% for i in appointment_data %}
                <option value="{{ i.appointment }}">{{ i.appointment }}</option>
            {% endfor %}
          </select>
       
      </div> 
      <div class="col-sm-2 px-3 py-2">
          {% comment %} data from the model 'staff_type' is shown in the dropdown {% endcomment %}
        <label for="{{ form.staff_type.id_for_label }}">Staff Type :</label>
         <select id="{{ form.staff_type.id_for_label }}" name="{{ form.staff_type.name }}" class="form-control" >
              <option>Please Select</option>
            {% for i in staff_type_data %}
                <option value="{{ i.stafftype }}">{{ i.stafftype }}</option>
            {% endfor %}
        </select>  
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for=" {{form.epf.id_for_label}}" class="form-label">EPF :</label>
        {{form.epf}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.gpf_no.id_for_label}} "class="form-label">G.P.F. No. :</label>
        {{form.gpf_no}} 
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.dcps_no.id_for_label}}" class="form-label">D.C.P.S. No.:</label>
        {{form.dcps_no}} 
      </div>
    </div>
  </div>
  <div class="new_block">
    <div class="title">Basic Details</div>
    <div class="row d-flex">
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.TA.id_for_label}}" class="form-label">TA :</label>
        {{form.TA}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.handicap.id_for_label}}" class="form-label">Handicap :</label>
        {{form.handicap}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label  for="{{form.quarter.id_for_label}}" class="form-label">Quarter</label>
        {{form.quarter}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.senior_citizen.id_for_label}}" class="form-label">Senior Citizen :</label>
        {{form.senior_citizen}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.HRA.id_for_label}}" class="form-label">HRA :</label>
        {{form.HRA}}
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.quarter.id_for_label}}" class="form-label">Quarter Type :</label>
        {{form.quarter}}  
      </div>
    </div>
  </div>
  
  <div class="new_block">
    <div class="title">Bank Details</div>
    <div class="row d-flex">
      <div class="col-sm-2 px-3 py-2">
        <label for="{{ form.bank.id_for_label }}">Bank :</label>
         <select id="{{ form.bank.id_for_label }}" name="{{ form.bank.name }}" class="form-control" >
            {% for i in bank_data %}
                <option value="{{ i.bank }}">{{ i.bank }}</option>
            {% endfor %}
          </select>
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.bank_branch.id_for_label}}" class="form-label">Bank Branch :</label>
        {{form.bank_branch}}  
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.bank_acc_no.id_for_label}}" class="form-label">Bank Account Number:</label>
        {{form.bank_acc_no}} 
      </div>
      <div class="col-sm-2 px-3 py-2">
        <label for="{{form.ifsc_code.id_for_label}}" class="form-label">IFSC Code :</label>
        {{form.ifsc_code}} 
      </div>
    </div>
    
  </div>
  <div class="new_block">
    <div class="title">Pay-Scale Details</div>
    <div class="row d-flex">
      <div class="col-sm-2 px-3 py-2">
          {% comment %} data from the model 'rule_man' is shown in the dropdown {% endcomment %}
        <label for="{{ form.rule.id_for_label }}">Rule :</label>
         <select id="{{ form.rule.id_for_label }}" name="{{ form.rule.name }}" class="form-control" >
          <option>Please Select</option>
            {% for i in rule_data %}
                <option value="{{ i.pay_rule }}">{{ i.pay_rule }}</option>
            {% endfor %}
        </select>   
       
      </div>     
        {% comment %} each pay_level has 40 basic amounts associated with it.after selecting a pay_level and any corresponding cell_number ,the basic amount is getting displayed. this is coming from 'PaylevelMaters' Model. {% endcomment %}
         <div class="col-sm-2 px-3 py-2">
          <label for="id_pay_level">Pay Level:</label>
          <select id="id_pay_level" name="pay_level" class="form-control" onchange="updateCellValue()">
            <option>Please Select</option> 
            {% for i in pay_level_data %}
            <option value="{{ i.pay_level }}" >{{ i.pay_level }}</option>
            {% endfor %}
          </select>
         </div>
        
        <div class="col-sm-2 px-3 py-2">
          <label for="id_cell_number">Cell Number:</label>
          <select id="id_cell_number" name="cell_number" class="form-control" onchange="updateCellValue()">
            <option>Please Select</option> 
            {% for number in cell_numbers %}            
            <option value="{{ number }}" >{{ number }}</option>
            {% endfor %}
          </select>    
        </div>
        
        <div class="col-sm-2 px-3 py-2">
          <label for="{{ form.basic.id_for_label }}" >Basic: </label>
          <input id="{{ form.basic.id_for_label }}"  name="{{ form.basic.name }}" class="form-control" readonly style="background-color: #f0f0f0; color: #333; cursor: not-allowed;" > 
        </div>
        <script>   
          function updateCellValue() {
            var payLevel = document.getElementById('id_pay_level').value;
            var cellNumber = document.getElementById('id_cell_number').value;
        
            // Send AJAX request to the Django view function
            fetch(`/get_basic_value/?pay_level=${payLevel}&cell_number=${cellNumber}`)
              .then(response => {
                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }
                return response.json();
              })
              .then(data => {
                if (data.hasOwnProperty('basic_value')) {
                  // Update the basic input field with the retrieved basic value
                  document.getElementById("{{ form.basic.id_for_label }}").value = data.basic_value;
                } else {
                  console.error('Error:', data.error);
                  // Handle error: Display error message or take appropriate action
                }
              })
              .catch(error => console.error('Error:', error));
          }
        </script>
      <div class="col-sm-2 px-3 py-2">
        {% comment %}  pay status implies that an employee should get salary of the month in which the registration has been done  {% endcomment %}
        <label for="{{form.pay_status.id_for_label}}" class="form-label">Pay Status :</label>
        {{form.pay_status}} 
      </div>
      <div class="col-sm-2 px-3 py-2">
        {% comment %} 6th pay rule had grade pay.7th pay rule does not have grade pay . as only one employee of our institute comes under 6th pay commision , this option will be removed if that employee gets promoted to 7th pay. {% endcomment %}
        <label for="{{form.grade_pay.id_for_label}}" class="form-label">Grade Pay :</label>
        {{form.grade_pay}} 
      </div>
    </div>
  </div>


  <div class="center" >
    <div class="d-grid gap-3 d-md-block">
      <button type="submit" class="btn btn-outline-primary">SAVE</button >
        <button type="button" class="btn btn-outline-warning">UNDO</button>
        <button type="button" class="btn btn-outline-danger">PRINT</button>
    </div>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#{{ form.employee_type.auto_id }}').change(function() {
        var employeeType = $(this).val();
        $.ajax({
            url: '/get_upcoming_sequence_no/',
            data: {
                'employee_type': employeeType
            },
            dataType: 'json',
            success: function(data) {
                $('#upcoming_sequence_no').text(data.sequence_no);
                $('#{{ form.sequence_no.auto_id }}').val(data.sequence_no);
            }
        });
    });
});
</script> 


{% endblock %}

{% block int_css %}
<<style>
  body{
    overflow-x: hidden;
  }

  .new_block{
    margin: 2vw;
  }
  
  .title{
      text-align: center;
      font-style: normal;
      background-color:#05518c;
      
      padding: 1px;
      border-radius: 10px;
      color:#ffffff;
     
  }

  .center{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
  }

  .photo{
    object-fit: cover;
    height: 9vw; 
 }

 .sign{
    object-fit: cover;
    width: 9vw;
 }

 .form-control option[value=""] {
  color: #888888; /* Change the color as needed */
 }
  
 

</style>
{% endblock %}
