{% extends "base.html" %}

{% block title %}Pay Level Master{% endblock %}

{% block nav_item_3 %}{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

<div class="flex-container">
  <div class="block">
    <div class="flexborder">
    <div class="flextitle">
        <h5>Pay Level</h5>
    </div>
    <form  method="post" action="{% url 'pay_level' %}">
      {% csrf_token %} 
      <div class="row g-3">
        {% if form.errors %}
                <ul class="errorlist">
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors.0 }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
          <div class="col-sm-3">
            <label for="{{ form.staff_type.id_for_label }}">Staff Type :</label>
            <select id="{{ form.staff_type.id_for_label }}" name="{{ form.staff_type.name }}" class="form-control" >
              {% for i in staff_type_data %}
                  <option value="{{ i.stafftype }}">{{ i.stafftype }}</option>
              {% endfor %}
           </select>  
          </div>
      </div>   
    <div class="row g-3">
      <div class="col-sm-3">
        <label {{ form.pay_level.id_for_label }} class="form-label">Pay level :</label> 
              {{ form.pay_level }}
      </div>
    </div>
    
</div>
<div class="center" >
    <div class="d-grid gap-2 d-md-block">
      <button type="submit" class="btn btn-outline-primary">Submit</button >

    </div>
</div>
  </div>
</form>


  <div class="table-container_lg">
    <h4 class="flextitle">Pay Level List</h4>
    {% if  pay_level_data  %} 
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" >Action</th>
        <th scope="col" >Amount</th>
        <th scope="col">Staff</th>
        <th scope="col">Pay Level</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for pay_level in  pay_level_data %}
        <tr>
          <td ><button class="btn btn-outline-dark edit-btn">Edit</button></td>
          <td><form method="POST" action="{% url 'display_cell_values' %}">
            {% csrf_token %}
            <input type="hidden" name="pay_level_id" value="{{ pay_level.id }}">
            <button class='btn btn-outline-dark' type="submit">Display</button>
        </form></td>
        <td><span class="editable-field" data-field="pay_level.staff_type" data-id="{{ pay_level.pk }}">{{ pay_level.staff_type }}</span>
          <input type="text" class="editable-field" data-field="pay_level.staff_type" data-id="{{ pay_level.pk }}" value="{{ pay_level.staff_type}}" style="display: none;">
        </td>
        <td><span class="editable-field" data-field="pay_level.pay_level" data-id="{{ pay_level.pk }}">{{ pay_level.pay_level }}</span>
          <input type="text" class="editable-field" data-field="pay_level.pay_level" data-id="{{ pay_level.pk }}" value="{{ pay_level.pay_level }}" style="display: none;">
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table> 
 
  </div>
  
  {% else %} 
  No Data Found
  {% endif %} 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.edit-btn').on('click', function() {
            var $row = $(this).closest('tr');
            $row.find('.editable-field').toggle();
           
        });

        $('.editable-field').on('blur', function() {
            var $input = $(this);
            var field = $input.data('field');
            var id = $input.data('id');
            var value = $input.val();

            // Send AJAX request to update the value in the backend
            $.ajax({
                method: 'POST',
               url: '/edit_btn/' + id + '/',
                data: {
                    field: field,
                    value: value,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        $input.hide();
                        $input.siblings('.editable-field').text(value).show();
                    } else {
                        alert('Failed to update ' + field);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
  

  
   
  {% comment %} <div class="table-container"> 
    <table class="table table-hover">      
      <thead>
        <tr>
          <th scope="col">Cell Number</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
       <tbody class="table-group-divider" >
       
          {% for cell_value in cell_values %}
              <tr>
                  <td>{{ cell_value.id }}</td>  
                  <td>{{ cell_value }}</td>
              </tr>
          {% endfor %}
       {% endcomment %}


        
      
       </tbody>
    </table>
    </div>
  </div>



{% endblock %}


{% block int_css %}
<style>
  body{
    overflow-x: hidden;
  }
  
 
  /* To control size of the columns */
  
  .col-sm-3{
    padding: 20px;
    width: 30vw;
  }
  
 
  div.row.g-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  
    .table-container_lg {
        width: 85%;
        margin-bottom: 20px;
        overflow-y: scroll;
        height: 400px;
        
        
    }

  
  
</style>
{% endblock %}          