{% extends "base.html" %}

{% block title %}Rule Management{% endblock %}

{% block nav_item_3 %}{% endblock %}

{% block heading %}{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="block">
    <div class="flexborder">
      <div class="flextitle">
      <h5>Rule Management</h5>
    </div>
    <form  method="post" action="{% url 'rule_man' %}">
      {% csrf_token %}  
      <div class="row g-3">
        <div class="col-sm-3">
          <label {{ form.pay_rule.id_for_label }} class="form-label">Pay Rule:</label> 
          {{ form.pay_rule }} 
            </div>
      </div>
    

    <div class="row g-3">
        <div class="col-sm-3">
          <label {{ form.rule_name.id_for_label }} class="form-label">Rule Name:</label> 
          {{ form.rule_name }}
            </div>
    </div>
   
</div>
<div class="center" >
    <div class="d-grid gap-2 d-md-block">
      <button type="submit" class="btn btn-primary" >Submit</button >
      
    </div>
  </div> 
</form>
  </div>
  <div class="table-container">
    <h2 class="flextitle">Rule List</h2>
    {% if rule_data %} 
        <table class="table table-hover">
          <thead>
            <tr>        
              <th scope="col">Pay Rule</th>
              <th scope="col">Rule Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for i in rule_data %}
            <tr>   
              <td>{{i.pay_rule}}</td>
              <td>{{i.rule_name}}</td> 
              <td >
                
                <form action="{% url 'delete_data' i.id %}" method="post" class="d-inline">
                  {% csrf_token %} 
                  <input type = "submit"  value="Delete" >
                 
                </form>
              </td>
             
            </tr>
            {% endfor %}
            
          </tbody>
        </table> 
        </div>
   {% else %} 
         No Data Found
   {% endif %} 
</div>

{% endblock %}


{% block int_css %}
<style>
  body{
    overflow-x: hidden;
  }
  
  
  .flexborder{
    width:fit-content;
    margin: auto !important;
    padding: 2px;
    border-width: 2px;
    border-color: rgb(100, 210, 238);
    border-style: solid;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-inline-end: 10px;
  
  }
  
  /* To control size of the columns */
  
  .col-sm-3{
    padding: 20px;
    width: 30vw;
  }
  
  /* controlling size of the input field */
  
  .flextitle{
    text-align: center;
    font-style: normal;
    background-color: rgb(100, 210, 238);
    color:#0e556e;
    padding: 1px;
    border-radius: 10px;
  }


  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  div.row.g-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; /* Align items at the top */
    }
    .block {
        flex: 0 0 40%; /* Adjust width of the rule management block */
        /* Additional styling for the rule management block */
    }

    .table-container {
      flex: 0 0 55%; /* Adjust width of the table */
        margin-right: 20px;
        margin-bottom: 20px;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .flex-container {
            flex-direction: column; /* Stack content vertically on smaller screens */
        }

        .block
         {
          flex: 0 0 55%; /* Adjust width of the table */
          margin-left: auto; /* Ensure full width on smaller screens */
          margin-bottom: 20px; /* Add space between sections */
        }
    }

    .table {
        border: 1px solid #000; /* Add a solid black border around the table */
        border-collapse: collapse; /* Collapse borders into a single border */
    }
    .table th {
        background-color:rgb(100, 210, 238); /* Change background color */
        color: #0e556e; /* Change text color */
       
    }
  
</style>
{% endblock %}                 
